// 页面基础padding
.base-padding {
  padding: 20px;
}

// 主内容样式
.layout-mode1 {
  background: #f0f2f5;
  .tags-view {
    height: 48px;
    box-shadow: none;
    margin-left: 16px;
    border-bottom: 1px solid $--border-color-base;
    &-item {
      border: none;
      margin-top: 15px;
      line-height: 32px;
    }
  }
  .page-main {
    padding-left: 16px;
    .page-header {
      height: 42px;
    }
    .page-view {
      margin: 0;
      margin-top: 0 !important;
    }
  }
}