$font-dir: '~@/assets/fonts/';

// 字体名自行添加至此
$font-names: 'Roboto-Regular', 'Roboto-Medium', 'Roboto-Bold';

@each $name in $font-names {
  @font-face {
    font-family: $name;
    src: url('#{$font-dir}#{$name}.ttf')
  }
}
