body {
  .aa {
    border-radius: 4px;
    transform: rotate(1deg);
    color: red;
    background-image: url('../img/bg.png');

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
    }
  }
}
